<entry>
  <id>%ID%</id>
  <title>%TITLE%</title>
  <updated>%UPDATED%</updated>
  <published>%PUBLISHED%</published>
  <link href="%LINK_ALTERNATE%" rel="alternate"/>
  %LINK_RELATED%
  <author>
    <name>%AUTHOR_NAME%</name>
    <uri>%AUTHOR_URI%</uri>
  </author>
  <content type="html"><![CDATA[%CONTENT%]]></content>
</entry>
