<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>%TITLE%</title>
<link rel="alternate" type="application/atom+xml" href="/feeds/atom.xml" />
%TWITTER_CARD%
%FB_OG%
</head>
<body>
    <section id="articles">
        %BODY%
        <div id="footer">
            <p class="smallprint">
            %COPYRIGHT%
            </p>
        </div>
    </section>
</body>
</html>
