<meta name="twitter:card"        content="summary" />
<meta name="twitter:site"        content="@example" />
<meta name="twitter:creator"     content="@robertcusimano" />
<meta name="twitter:title"       content="%TITLE%" />
<meta name="twitter:description" content="%SUMMARY%" />
<meta name="twitter:image"       content="" />
